<h3>Sign Up</h3>
<form method="POST" action="/auth/register">
  <input name="user" type="text" placeholder="Create your User here" />
  <input name="password" type="password" placeholder="Your password here" />
  <button type="submit">Create</button>
</form>

<h3>Sign In</h3>
<form method="POST" action="/auth/login">
  <input name="user" type="text" placeholder="Your User here" />
  <input name="password" type="password" placeholder="Your password here" />
  <button type="submit">Go</button>
</form>