<h3>Sign Up</h3>
<form method="POST" action="/auth/register">
  <input name="email" type="email" placeholder="Create your email user here" />
  <input name="password" type="password" placeholder="Your password here" />
  <button type="submit">Create</button>
</form>

<h3>Sign In</h3>
<form method="POST" action="/auth/login">
  <input name="user" type="email" placeholder="Your email user here" />
  <input name="password" type="password" placeholder="Your password here" />
  <button type="submit">Go</button>
</form>