<h3>Create a new Post on Blog</h3>
<form method="POST" action="/posts/new">
  <input name="title" type="text" placeholder="Post's Title" />
  <input name="contentPost" type="text" placeholder="Content" />
  <button type="submit">Create Post</button>
</form>

<h3>These are all our books:</h3>
<ul>
  {{#each posts}}
  <li>
    <p class="book-name">{{this.title}} - {{this.contentPost}}</p><a href="posts/{{this.id}}">Edit</a>
  </li>
  {{/each}}
</ul>

<h4>Access logged</h4>
<a href="auth/is-logged">Go</a>
